.step-list li::marker {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
    position: relative;
    z-index: 10 !important;
}
.step-list li{
  position: relative;
  z-index: 10 ;
  padding-left: 1rem;
}

.step-list li::before {
  content: '';
  position:absolute;
  background: #6840ED;
  height: 2.87rem;
  width:2.87rem;
  z-index: -1;
  left: -2.4rem;
  top: -.3rem;
  border-radius: 100%;
}

@media (max-width:767px) {
  .step-list li::marker {
    font-size: 0.93rem;
}

.step-list li::before {
  content: '';
  position:absolute;
  background: #6840ED;
  height: 2rem;
  width:2rem;
  z-index: -1;
  left: -1.6rem;
  top: -.15rem;
  border-radius: 100%;
}
}